@import url(https://fonts.googleapis.com/css?family=Halant:400,500,300,600,700|Josefin+Sans:400,100italic,100,300,300italic,400italic,600,600italic,700|Playfair+Display:400,400i);
@import "sass-mixins/effects";
@import "web-fonts/fontface";
$content-max-height: 60vh;
$lvl9: 900;
$lvl8: 800;
$lvl7: 700;
$lvl6: 600;
$lvl5: 500;
$lvl4: 400;
$lvl3: 300;
$lvl2: 200;
$lvl1: 100;
@media (min-width:320px) {
    /* smartphones, iPhone, portrait 480x320 phones */
}

@media (min-width:481px) {
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
}

@media (min-width:641px) {
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
}

@media (min-width:961px) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */
}

@media (min-width:1025px) {
    /* big landscape tablets, laptops, and desktops */
}

@media (min-width:1281px) {
    /* hi-res laptops and desktops */
}

body {
    width: 100%;
    overflow: hidden;
}

.full-height {
    height: -webkit-fill-available;
}

.full-width {
    width: -webkit-fill-available;
}

.profile-row-container {
    position: relative;
    top: 50vh;
    transform: translateY(-50%);
}

.profile-text-container {
    .vertically-centered {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
    h1 {
        font: 600 1.5em/1 'Raleway', sans-serif;
        color: rgba(0, 0, 0, .6);
        text-align: center;
        text-transform: uppercase;
        letter-spacing: .5em;
        line-height: 2;
    }
}

.profile-picture-container {
    .horizontally-centered {
        img {
            width: 60vh;
            float: right;
        }
    }
}

.link {
    outline: none;
    text-decoration: none;
    position: relative;
    font-size: 8em;
    line-height: 1;
    color: #9e9ba4;
    display: inline-block;
}

.container-scroll-down {
    width: 100%;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link--text {
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: 6em; //change this
    padding: 0 10px 20px;
    -webkit-transition: color 0.5s;
    transition: 0.5s;
    z-index: 0;
    &:hover {
        color: #1E1A1B;
        cursor: pointer;
        &::before {
            -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
        }
        span {
            opacity: 1;
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
    }
    &:before {
        content: '';
        position: absolute;
        height: 25px;
        width: 120%;
        top: 55%;
        margin-top: -18px;
        left: -10%;
        z-index: -1;
        background: rgba(162, 30, 30, 0.75);
        -webkit-transform: scale3d(0, 1, 1);
        transform: scale3d(0, 1, 1);
        -webkit-transition: -webkit-transform 0.5s;
        transition: transform 0.5s;
    }
    span {
        font-size: 20%;
        font-weight: 400;
        position: absolute;
        color: rgb(0, 0, 0);
        bottom: 0;
        opacity: 0;
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0);
        -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
        transition: transform 0.5s, opacity 0.5s;
    }
}

#chevron-container {
    position: absolute;
    top: 80%;
    width: 100%;
}

.menu {
    z-index: $lvl9;
    padding-top: 1em;
    width: 50vh;
    height: 100vh;
    position: fixed;
    overflow: visible;
    h1 {
        margin-left: 1rem;
        font-weight: 100;
        transition: font-size 0.2s ease-in-out;
        width: fit-content;
        &:hover {
            font-size: 3rem;
            cursor: pointer;
            transition: font-size 0.2s ease-in-out;
            word-wrap: none;
        }
    }
    h4 {
        margin-left: 2.5rem;
        font-weight: 100;
        transition: font-size 0.2s ease-in-out;
        width: fit-content;
        &:hover {
            font-size: 1.8rem;
            cursor: pointer;
            transition: font-size 0.2s ease-in-out;
        }
    }
    .no-click:hover {
        cursor: default;
    }
}

.panel {
    &:not(:first-of-type) {
        background-color: none !important;
        padding-top: 2%;
        height: 100vh;
        padding-left: 30vh;
        .project-title-container {
            background-color: #9e9d9d;
            padding: 1em;
            h1 {
                font-family: 'Josefin Sans', sans-serif;
                font-weight: 100;
                font-style: italic;
                font-size: 5em;
                line-height: 1em;
                text-transform: uppercase;
                letter-spacing: 0.05em;
                color: white;
            }
            h2 {
                font-family: 'Josefin Sans', sans-serif;
                font-weight: 200;
                font-style: italic;
                font-size: 1.8em;
                color: white;
                line-height: 1em;
                width: fit-content;
                text-transform: uppercase;
                display: block;
                letter-spacing: 0.05em;
                word-spacing: 0.05em;
            }
        }
        .project-content-container {
            font-family: 'Josefin Sans', sans-serif;
            padding: 1em 4em 1em 1em;
            h4 {
                font-weight: 300;
                text-decoration-line: underline;
                text-decoration-skip: ink;
                text-align: right;
                margin-bottom: 2em;
            }
            p {
                text-align: justify;
                padding: 0 3em;
                font-weight: 300;
                font-size: 1.3em;
                line-height: 1.5em;
                &::first-letter {
                    font-size: 4em;
                }
            }
            .row .btn {
                margin: auto;
                text-transform: uppercase;
                color: black;
                transition: color 1s ease-in-out;
                border-radius: 0 !important;
                font-size: 1.5em;
                font-weight: 300;
                @include transition-opt( $hover-color: rgb(80, 80, 80), $transition-color: rgb(80, 80, 80), $transition-speed: 0.5s);
                @include both-opening-horizontal;
                &:hover {
                    // color:white;
                    transition: color 1s ease-in-out;
                }
            }
        }
        .article-container {
            width: 100vh;
            margin: auto;
            .article-title-container {
                background-color: #9e9d9d;
                padding: 1em;
                h1 {
                    font-family: 'Playfair Display';
                    font-weight: 100;
                    font-size: 3.5em;
                    line-height: 1em;
                    text-transform: uppercase;
                    letter-spacing: 0.05em;
                    color: rgb(0, 0, 0);
                }
                h2 {
                    font-family: 'Playfair Display';
                    font-weight: 200;
                    font-style: italic;
                    font-size: 1.8em;
                    color: rgb(0, 0, 0);
                    line-height: 1em;
                    width: fit-content;
                    display: block;
                    letter-spacing: 0.05em;
                    word-spacing: 0.05em;
                }
            }
            .article-content-container {
                font-family: 'Playfair Display';
                padding: 2em;
                background-color: #eaeaea;
                max-height: 80vh;
                overflow: hidden;
                h4 {
                    font-weight: 300;
                    text-align: right;
                    margin-bottom: 2em;
                }
                .article-text-container {
                    max-height: 69vh;
                    overflow: hidden;
                    p {
                        text-align: justify;
                        padding: 0 3em;
                        font-weight: 300;
                        font-size: 1.1em;
                        line-height: 1.5em;
                        &::first-letter {
                            color: rgb(94, 94, 94);
                            float: left;
                            font-family: Georgia;
                            font-size: 75px;
                            line-height: 60px;
                            padding-top: 4px;
                            padding-right: 8px;
                            padding-left: 3px;
                        }
                    }
                }
                .row {
                    margin-top: 1em;
                    .btn {
                        margin: auto;
                        text-transform: uppercase;
                        color: black;
                        transition: color 1s ease-in-out;
                        border-radius: 0 !important;
                        font-size: 1em;
                        font-weight: 300;
                        @include transition-opt( $hover-color: rgb(80, 80, 80), $transition-color: rgb(80, 80, 80), $transition-speed: 0.5s);
                        @include both-opening-horizontal;
                        &:hover {
                            // color:white;
                            transition: color 1s ease-in-out;
                        }
                    }
                }
            }
        }
    }
    &:last-of-type {
        width: -webkit-fill-available;
        background-color: darkgray;
        padding-left: 0;
        .contact-info-container {
            font-family: 'Playfair Display';
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            .email-container {
                width: fit-content;
                margin: auto;
                padding-bottom: 2em;
                a {
                    text-decoration: none;
                    font-size: 4em;
                    color: black;
                    transition: 0.5s ease-in-out;
                    font-style: italic;
                    &:hover {
                        transition: 0.3s ease-in-out;
                        color: white;
                    }
                }
            }
            .resume-container {
                width: fit-content;
                margin: auto;
                transition: 0.5s ease-in-out;
                font-style: italic;
                margin-bottom: 6em;
                a {
                    text-decoration: none;
                    color: black;
                    font-size: 4em;
                    &:hover {
                        transition: 0.3s ease-in-out;
                        color: white;
                        cursor: pointer;
                    }
                }
            }
        }
        .social-media-container {
            width: fit-content;
            margin: auto;
            position: relative;
            top: 30vh;
            a:hover{
                text-decoration: none;
                cursor: default;
            }
            .fa-github {
                transition: 0.5s ease-in-out;
                color: black;
                &:hover {
                    transition: 0.2s ease-in-out;
                    color: rgb(148, 24, 197);
                    cursor: pointer;
                }
            }
            .fa-facebook-f {
                transition: 0.5s ease-in-out;
                color: black;
                &:hover {
                    transition: 0.2s ease-in-out;
                    color: #3b5998;
                    cursor: pointer;
                }
            }
            .fa-linkedin-in {
                transition: 0.5s ease-in-out;
                color: black;
                &:hover {
                    transition: 0.2s ease-in-out;
                    color: #007bb6;
                    cursor: pointer;
                }
            }
            .fa-instagram {
                transition: 0.5s ease-in-out;
                color: black;
                &:hover {
                    transition: 0.2s ease-in-out;
                    color: #f1d141;
                    cursor: pointer;
                }
            }
            .fa-google-plus-g {
                transition: 0.5s ease-in-out;
                color: black;
                &:hover {
                    transition: 0.2s ease-in-out;
                    color: #dd4b39;
                    cursor: pointer;
                }
            }
        }
    }
}

/*# sourceMappingURL= style.css.map */