.button-link {
    color: white;
    display: 'block';
    height: 100%;
    &:hover {
        color: white;
        text-decoration: none;
    }
}

.homeImg {
    width: 70%;
    min-width: 300px;
    max-width: 562px;
}