.jumbotron {
    .container {
        .row {
            .col{
                img {
                    width: 30px;
                }
            }
        }
    }
}

img {
    width: 90vw;
    max-width: 562px;
}