.icon {
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 2em;
    .git {
        &:hover {
            color: #be4bdb;
        }
    }
    .fb {
        &:hover {
            color: #15aabf;
        }
    }
    .insta {
        &:hover {
            color: #82c91e;
        }
    }
    .linkedin {
        &:hover {
            color: #0077B5;
        }
    }
}

.email {
<<<<<<< HEAD
    font-size: 1em;
=======
    font-size: 1.5em;
    padding-bottom: 2%;
>>>>>>> development
}


    